@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: #F8FAFC;
  --color-foreground: #0F172A;
  
  --color-card: #FFFFFF;
  --color-card-foreground: #0F172A;
  
  --color-popover: #FFFFFF;
  --color-popover-foreground: #0F172A;
  
  --color-primary: #0284C7;
  --color-primary-foreground: #F8FAFC;
  
  --color-secondary: #E2E8F0;
  --color-secondary-foreground: #1E293B;
  
  --color-muted: #F1F5F9;
  --color-muted-foreground: #64748B;
  
  --color-accent: #E0F2FE;
  --color-accent-foreground: #0369A1;
  
  --color-destructive: #EF4444;
  --color-destructive-foreground: #FAFAF9;
  
  --color-border: #E2E8F0;
  --color-input: #E2E8F0;
  --color-ring: #38BDF8;

  --font-sans: 'Inter', sans-serif;
  --radius-lg: 0.75rem;
  --radius-md: 0.5rem;
  --radius-sm: 0.25rem;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply font-sans antialiased bg-background text-foreground;
  }
}
